html, body
  margin: 0
  padding: 0
  border: 0

html
  font-size: 22px
  overflow-x: hidden

a img
  border: 0

h2
  clear: left
  margin-top: 24px

h1 a
  text-decoration: none
  color: inherit

fontscale(n)
  ((3 + n)/3)rem

body
  font-family 'Josefin Sans', sans-serif
  font-weight: 300
  // letter-spacing: -0.33px
  letter-spacing: (-11/600)em
  // letter-spacing: (-1/30)em
  // letter-spacing: (-8/300)em
  // word-spacing: 0.05em
  line-height: (4/3)
  background: white
  padding: 84px 60px 0
  margin: 0px auto

header
  display: flex
  justify-content: space-between
  align-items: baseline
  flex-wrap: wrap
  margin-bottom: 1em

  h1
    display: inline-block
    margin: 0 -16px 0.5em 8px

    font-family: 'Whiteboard Modern', cursive
    font-size: fontscale(6)
    font-weight: 400
    line-height: 1
    text-align: center

    border-style: solid
    border-width: 0px 16px 4px 16px
    border-image: url("../images/underline.png") 0 36 16 0 / 0 16px 8px 8px stretch

    span
      font-size: 0.5em

  nav
    font-size: fontscale(1)

    display: flex
    justify-content: space-between
    font-family: 'Whiteboard Modern', cursive

    a
      display: inline-block
      text-decoration: none
      color: inherit
      border-style: solid
      border-width: 0px 0px 8px 0px
      border-image: url("../images/box-red.png") 0 22 8 272 stretch;
      margin-left: 0.75em
    a:first-child
      margin-left: 0

article,section
  border-style: solid
  border-width: 16px
  margin: 0px -16px 48px
  padding: 1.5em 1em 0
  overflow-x: hidden

  h1
    font-size: fontscale(4)
    font-family 'Josefin Sans', sans-serif
    font-weight: 300
    font-variant: small-caps
    letter-spacing: (-1/30)em

    margin: 0 0 0.5em -3.33px

  footer
    text-align: right


:not(pre) > code
  font-family: 'Andale Mono',monospace
  background-color: rgba(69, 142, 209, 0.04)
  font-size: 80%

p
  margin-bottom: (5/3)em

.block
  display: block
  margin: 2em auto
  max-width: 100%

  img
    max-width: 100%

blockquote
  margin: 1em 2em
  text-align: justify

blockquote:before,blockquote:after
    font-size: fontscale(5)
    vertical-align: -0.4em
    line-height: 0.1em
    font-family: 'Whiteboard Modern',sans-serif

blockquote:before
    content: open-quote

blockquote:after
    content: close-quote

cite
  margin-right: 0.1em


ul
  margin-bottom: 1em
  margin-left: 1em

dl
  margin-bottom: 1em

dt
  font-weight: 400

dd
  margin-left: 2em

div.projects
  // margin: 0px -64px 1em -32px
  overflow: hidden
  // margin: 0 0.5em

  h2
    font-weight: 300

section.project
  float: left
  display: flex
  flex-direction: column
  justify-content: space-between
  border-width: 8px
  border-image-width: 16px !important
  // width: 260px
  height: 320px
  margin: 0.5em
  padding: 0.5em
  width: 27%

  a
    text-decoration: none
    color: inherit


  h1
    text-align: center
    font-size: fontscale(1)
    margin-bottom: 0
    // flex: 0

  img
    display: block
    margin: 1em auto
    max-width: 100%
    max-height: 140px
    flex: 1 1 auto

  div
    flex: 0 1 auto

  div.award
    font-style: italic

@media only screen and (min-width: 1212px)
  body
    padding: 84px 72px 0
    width: 1068px
  section.project
    width: 292px
    height: 300px

@media only screen and (max-width: 1060px)
  body > header
    flex-direction: column
    align-items: center
    > h1
      margin-left: -16px
    > nav
      width: 80%

  div.projects
    // margin: 0 48px
    margin: 0 0.5em
  section.project
    // width: 292px
    height: 300px
    width: 40%



@media only screen and (max-width: 767px)
  html
    font-size: 18px

  #dne
    transform: scale(0.75)
    transform-origin: top right

@media only screen and (max-width: 767px) and (min-width: 480px)
  body
    padding: 72px 42px 0
    width: 396px
    -webkit-text-size-adjust: 100%


  section.project
    width: 85%

  // div.projects
  //   margin: 0


  // body > header > h1
  //   font-size: fontscale(3)
  //   // line-height: 42px

  // article,section
  //   > h1
  //     font-size: fontscale(2)

@media only screen and (max-width: 479px)
  article,section
    border-style: solid
    border-width: 8px
    margin: 0px -8px 48px
    // > h1
    //   font-size: fontscale(2)

  section.project
    width: 80%

  body
    padding: 72px 8px 0
    // font-size: 0.85em
    // margin: 0 16px
    // width: 228px
    width: 346px
    overflow-x: hidden
    // width: 100%
    -webkit-text-size-adjust: 100%

    > header
      > h1
        font-size: fontscale(5)
        // margin: 0 -16px 24px -16px
        // border-width: 0 16px 4px 16px
        margin: 0 -8px 0.5em -8px
        border-width: 0 0 4px 8px
        // line-height: 42px
        // margin: 0 -8px 24px 0
        // margin-left: 0
        // margin-right: -8px
        // margin-bottom: 16px
        // border-width: 0px 8px 4px 0px
      > nav
        width: 90%
        font-size: fontscale(0.5)
        > a
          border-width: 0px 0px 4px 0px


#dne
  position: absolute
  width: 84px
  top: 0px
  right: 0px
  padding-top: 4px
  font-size: 26px
  line-height: 20px
  text-align: center
  font-family: 'Whiteboard Modern', cursive
  border-style: solid
  border-width: 0px 0px 8px 8px
  border-image: url("../images/box-red.png") 48 48 24 24 stretch
  color: hsla(0, 100%, 75%, 1)
  user-select: none

#dnecanvas
  position: absolute
  top: 0px
  left: -12px



wb-border-box(col, size=48)
  border-image: url("../images/box-"+col+".png") size / 24px stretch

article:nth-child(3n+1), section:nth-child(3n+1)
  wb-border-box: 'blue'

article:nth-child(3n+2), section:nth-child(3n+2)
  wb-border-box: 'red'

article:nth-child(3n), section:nth-child(3n)
  wb-border-box: 'green'


@media only screen and (min-width: 1212px)
  section.project:nth-child(6n+4)
    wb-border-box: 'red'

  section.project:nth-child(6n+5)
    wb-border-box: 'green'

  section.project:nth-child(6n+6)
    wb-border-box: 'blue'


  section.project:nth-child(9n+7)
    wb-border-box: 'green'

  section.project:nth-child(9n+8)
    wb-border-box: 'blue'

  section.project:nth-child(9n+9)
    wb-border-box: 'red'


@font-face
  font-family: 'Whiteboard Modern'
  src: url('../fonts/whiteboard-modern-webfont.eot?') format('eot'), url('../fonts/whiteboard-modern-webfont.woff') format('woff'), url('../fonts/whiteboard-modern-webfont.ttf') format('truetype'), url('../fonts/whiteboard-modern-webfont.svg#webfontxFGqCYaf') format('svg')
  font-weight: normal
  font-style: normal

