<article class="post">
  <h1><a href="/{{_id}}" rel="bookmark">{{{title}}}</a></h1>

  {{{body}}}

  <footer>
    <time datetime="{{created}}" pubdate>
      {{created}}
    </time>
  </foooter>

</article>
