{{> header}}

<article>
  <h1>
    About me
  </h1>

  <p>
    Hi! I'm Sam, and I need to create beautiful things. To me, beautiful means beautiful in function: not a passive object under glass, but an active creation that <em>does</em> something beautiful, that works beautifully, that has something beautiful to say.
  <p>
    I find myself fascinated by two equal and opposite worlds: computation, where you work with abstract behaviour in a constructed universe; and experience, where you work with human behaviour grounded in our universe. The points where the two overlap are rich with possibility, and that's where I like to create.
  <p>
    I work mainly using software and electronics, though I go wherever the project leads. I've made things using code, writing, music, animation, web technology, cellular automata, generative art, pen plotters, electrography, signal processing, microcontrollers, programming language theory, and machine learning. Some examples I'm particularly proud of are <a href="https://demos.samgentle.com/scrawl/"><cite>Scrawl</cite></a>, <a href="/posts/2017-01-14-automata-by-example"><cite>Automata by Example</cite></a>, <a href="/posts/2016-08-25-real-life-vs-internet"><cite>Real Life vs Internet</cite></a>, <a href="/posts/2017-09-16-cardiograph"><cite>Cardiograph</cite></a> and <a href="/posts/2016-12-11-markov-contact"><cite>Markov Contact</cite></a>.
  <p>
    I'd describe myself as an artist whose art is sometimes useful, or a creative technologist who creates creative technology, or an inventor who invents as a form of expression. If you know what that's called, please get in touch because it would save me a lot of typing.
  <p>
    I'm happy working in any area where my creativity creates value. In art, the value is the work itself; in product development, it's the work's function; in R&amp;D/innovation, it's what the work leads to; in marketing, it's being associated with the work; in education, it's understanding the work; and in events, it's experiencing the work. I know I'm in the right place when these values connect and everyone wants the work to be the best version of itself.
  <p>
    I like knowing other creative people, so if you're interested in any of the things I'm interested in, you'd like to work together, or even if you just want to show me something cool, I'd love to hear from you. If you're in the Sydney area, we could even go for coffee.
  <p>
    My email is <a href="mailto:sam@samgentle.com">sam@samgentle.com</a>, or you can find me on Twitter as <a href="https://twitter.com/sgentle">@sgentle</a>.

  <footer>
    <time datetime="2018-03-12T00:00:00Z" pubdate>
      2018-03-12T00:00:00Z
    </time>
  </foooter>
</article>

{{> footer}}
