<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>
		{{#title}}
			{{title}} - Sam Gentle.com
		{{/title}}
		{{^title}}
			Sam Gentle.com
		{{/title}}
		</title>

		{{#_canonical}}
			<link rel="canonical" href="{{{_canonical}}}">
		{{/_canonical}}

		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300' rel='stylesheet' type='text/css'>
		<link rel="alternate" type="application/atom+xml" title="Feed" href="/feed">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss">
		<link rel="stylesheet" media="all" href="/static/css/samgentle.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<header>
			<h1><a href="/">Sam Gentle<span>.com</span></a></h1>
			<nav>
					<a href="/about">About</a>
					<a href="/projects">Projects</a>
					<a href="/now">Now</a>
				</ul>
			</nav>
		</header>

		<aside id="dne"><canvas id="dnecanvas" width="96px" height="78px"></canvas>Do Not Erase</aside>
