{{> header}}

<article>
  <h1>
    Now
  </h1>

  <p>
    At the moment I'm mainly rebuilding my life and my creative capacity after everything went off the rails in 2017. I'm working on a reboot: defining my work better, talking about it more, and finding like-minded people and organisations. This is hard meta-work that I've been avoiding for a long time, so it's a relief to be making progress on it.
  <p>
    I'm running a small weekly meetup in Pyrmont called the Creative Technology group, and I've been working on a website for it that has morphed into a procedural animation language. I think I am okay with this.
  <p>
    I'm working on a generative art project called <cite>Rorschach</cite> that uses a combination of human-culled genetic programming and neural nets to draw shapes with a plotter.

  <footer>
    <time datetime="2018-03-12T00:00:00Z" pubdate>
      2018-03-12T00:00:00Z
    </time>
  </foooter>
</article>

{{> footer}}
